* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(108, 222, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    position: relative;
}

/* Logo */
.navlogo {
    font-size: 20px;
    font-weight: bold;
}

/* Menu items */
.navitems {
    display: flex;
    gap: 20px;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: black;
    margin: 4px 0;
}

@media (max-width: 600px) {

    .hamburger {
        display: flex;
    }

    .navitems {
        display: none;
        flex-direction: column;
        background-color: rgb(108, 222, 222);
        position: absolute;
        top: 55px;
        right: 0;
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    /* Show menu when checked */
    #menu-toggle:checked ~ .navitems {
        display: flex;
    }
}
